# Dependencies
node_modules/

# Builds
backend/dist/
frontend/.next/

# Logs
npm-debug.log
pnpm-debug.log
yarn-debug.log
yarn-error.log

# Environment files
backend/.env
backend/.env.*
backend/.env.docker
frontend/.env.local
frontend/.env.*

# OS
.DS_Store
Thumbs.db
